@tailwind base;
@tailwind components;
@tailwind utilities;

/* บังคับสีพื้นฐานทั้งระบบ */
html, body {
  background-color: #f0f4f8 !important; /* สีเทาฟ้าอ่อนๆ กันจอมืด */
  color: #1e3a8a !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}