@tailwind base;
@tailwind components;
@tailwind utilities;

/* บังคับสีพื้นฐานทั้งระบบ */
html, body {
  background-color: #f0f4f8 !important; /* สีเทาฟ้าอ่อนๆ กันจอมืด */
  color: #1e3a8a !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* ปรับแต่ง SweetAlert2 ให้มนสวยตามสไตล์ Master */
.swal2-popup {
  border-radius: 30px !important;
  font-family: inherit !important;
}